<div class="bg-white px-4 py-6 border-b border-gray-200 sm:px-6 dark:bg-slate-900 dark:border-gray-800">

    <div class="block sm:hidden flex pb-5">
        <div class="grow">
            <a href="{{ path('app_home') }}" id="blogLog" class="text-2xl leading-6 font-extrabold text-slate-800 dark:text-gray-200">Kassou Blog</a>
        </div>
        <div id="burger" class="burger flex-none border-2 border-opacity-30 rounded-md border-slate-600 dark:border-gray-200 hover:cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 stroke-1 fill-current text-slate-900 dark:text-gray-100">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </div>
    </div>

    <div id="navbar" class="-ml-4 -mt-2 flex items-start justify-start flex-col sm:flex-row sm:justify-between sm:items-center">
        <div class="ml-4 mt-2 flex gap-6">
            <a href="{{ path('app_home') }}" id="blogLog" class="text-2xl leading-6 font-extrabold text-slate-800 hidden sm:block dark:text-gray-200">Kassou Blog</a>
            <div id="moon" class="flex space-x-2 text-slate-800 font-extrabold hover:cursor-pointer hover:text-slate-700">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z" />
                </svg>
                <span class="font-bold">Dark</span>
            </div>
            <div id="sun" class="flex space-x-1 font-extrabold text-gray-300 hover:cursor-pointer hover:text-gray-400">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" />
                </svg>
                <span class="font-bold">Light</span>
            </div>
        </div>
        <div class="ml-4 sm:ml-2 mt-2 flex-shrink-0 text-base dark:text-gray-200">
            NavBar
        </div>
        <div class="ml-4 mt-2 flex-shrink-0">
            {% if app.user %}
                    <a href="{# path('app_logout') #}" class="btn-red">Déconnexion</a>
            {% else %}
                <div class="flex space-x-4">
                    <a href="{# path('app_login') #}" class="btn-blue">Connexion</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{# path('app_login') #}" class="btn-green">Inscription</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>