{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}
{% block body %}
    <section class="container px-3 sm:px-0 mx-auto">
        <div id="show-articles" data-image="{{ asset('images/forestwood.jpg') }}" data-url="{{ path('app_detail_article', { id: '__id__' }) }}"></div>
    </section>
{% endblock %}


